/* fonts  */
roboto condenced
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.container{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero-info h1{
    font-family: Roboto Condensed;
    font-weight: 700;
    font-style: Bold;
    font-size: 128px;
    line-height: 100%;
    word-spacing: 4px;
    text-transform: uppercase;
}