/* MARKETS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1920px;
    margin: 0 auto;
}
.markets__images img{
    width: 180px;
    height: 45px;
    display: flex;
    gap: 136px;
    justify-content: space-between;
    align-items: center;
}
.markets{
    display: flex;
}